/*
  _________                     .__    _________                       __
 /   _____/ _____ _____    _____|  |__ \_   ___ \____________    ____ |  | __
 \_____  \ /     \\__  \  /  ___/  |  \/    \  \/\_  __ \__  \ _/ ___\|  |/ /
 /        \  Y Y  \/ __ \_\___ \|   Y  \     \____|  | \// __ \\  \___|    <
/_______  /__|_|  (____  /____  >___|  /\______  /|__|  (____  /\___  >__|_ \
        \/      \/     \/     \/     \/        \/            \/     \/     \/


Coded with <3 by @SalvaCorts
*/


/**************** MAIN ****************/

html, body {
    height: 100%;
}

body {
     margin: 0px;
     padding: 0px;
     background: #2c3e50;
     background-color: #173F4F;
     font-family: 'Raleway', sans-serif;
     color: #ecf0f1;
     background-image: url(/images/wall.png);
     background-position: center;
     background-attachment: fixed;
}

a {
    text-decoration: none;
    padding: 1%;
}

/* unvisited link */
a:link {
    color: #ecf0f1;
}

/* visited link */
a:visited {
    color: #bdc3c7;
}

/* mouse over link */
a:hover {
    color: #FF;
}

/* selected link */
a:active {
    color: #FF;
}

h1 {
    margin: 0;
    padding-top: 0.7%;
    color: #ecf0f1;
    text-align: center;
    font-family: "Nova Flat";
}

h2 {
    padding-top: 2%;
    /*color: #ecf0f1;*/
    text-align: center;
}

p {
    /*color: #ecf0f1;*/
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 21.5%;
    height: auto;
}

ul {
    padding-left: 2%;
    text-align: right;
}
li {
    padding-right: 2%;
}

#column {
    word-wrap: break-word;
    float: left;
    width: 50%;
    height: 100%;
}

#row {
    height: 50%;
    padding-top: 2px;
}


/**************** HEADER ****************/

#header {
    width: 100%;
    height: 10%;
    /*background-color: #16a085;*/
    background-color: #173F4F;
    /*background-color: #153947;*/
    background-color: rgba(23, 63, 79, 0.9);
    /*position: fixed;*/
}

#header img {
    display: block;
    margin-left: auto;
    margin-right: 100%;
    margin-top: 1%;
    width: auto;
    height: 100%;
}
#menu {
    padding-top: 1%;
    /*padding-left: 40%;*/
}
#header ul li {
    display: inline-block;
    /*padding: 5px 0px 0px;*/
    padding-left: 1%;
}
#header ul li a{
    padding: 0%;
    color: #fff;

}
/**************** SEARCH ****************/

#search {
    padding-top: 1%;
    text-align: center;
    width: 100%;
    height: 90%;
    /*background-color: #1abc9c;*/
    background-color: rgba(23, 63, 79, 0.9);
}

#input {
    margin: 0px auto;
    height: 7%;
}

.field {
    width: 30%;
    height: 100%;
    border: 0px solid transparent;
    margin-right: -0.5%;
    }

.field-special {
    width: 35.5%;
    height: 100%;
    margin-right: -1%;
    border: 0px solid transparent;
    }

.field-special2 {
    width: 35.5%;
    height: 100%;
    margin-right: -10%;
    border: 0px solid transparent;
    }

/****** select ******/
#selecter {
    height: 8.8%;
}
select {
    color: #FFF;
    border: 0px none;
    height: 100%;
    width: 5%;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519' stroke='white' fill='white' /></svg>") no-repeat scroll right 20% top 50% / 20% 50% #00C7B6;
    /*background-color: #35B9AB;*/
  -webkit-appearance: none;
  border:0;
  outline:0;
  -webkit-transition:0.3s ease all;
	   -moz-transition:0.3s ease all;
	    -ms-transition:0.3s ease all;
	     -o-transition:0.3s ease all;
	        transition:0.3s ease all;
}
/* Remove arrow */
select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
select:hover {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519' stroke='white' fill='white' /></svg>") no-repeat scroll right 20% top 50% / 20% 50% #008479;
    /*background-color: #35B9AB;*/
}

#blue {
  background-color:#3498DB;
}
#blue:hover {
  background-color:#2980B9;
}
/****** select *******/

/****** checkbox *******/
/*#check {
    display: inline-block;
    background: red;
    height: 100%;
    width: 5%;
    padding-top: 0%;
    padding-bottom: -10%;
    margin-right: -0.5%;
    margin-left: -0.3%;
    /*margin-top: -1%;
    margin-bottom: -2.1%;
}*/

#labelDB {
    color: #292f34;
}
.checkbox {
    padding-top: 20%;
}
/****** checkbox *******/
#TermsDB {
    padding-top: 5%;
}

/****** button *******/
#btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0px;
    /*font-size: 14px;*/
    font-weight: 400;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    /*vertical-align: middle;*/
    cursor: pointer;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
}
.button {
    text-align: center;
    color: #ECF0F1;
    width: 8%;
    height: 100%;
    /*background: none repeat scroll 0% 0% #35B9AB;*/
    background: none repeat scroll 0% 0% #00C7B6;
    border: medium none;
  	-webkit-transition: all 0.15s linear;
	  -moz-transition: all 0.15s linear;
	  transition: all 0.15s linear;
}
.button:hover {
  background: #008479;
}
.button:active {
  background: #22776E;
}
/****** button *******/

/****** other ********/
#preset {
    width: 100%;
    height: auto;
    padding-top: 7%;
}

#preset p {
    padding-left: 20%;
    padding-right: 20%;
}

#preset h2 {
    color: #40D47E;
}
#preset-done {
    width: 100%;
    height: 107%;
    padding-top: 5%;
}
#pass-Matched {
    padding-top: 1.5%;
    text-align: center;
    font-family: "raleway";
    width: 100%;
    height: 100%;
    background-color: rgba(23, 63, 79, 0.0);
}
#matched {
    align-self: center;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    color: #ecf0f1;
}
#notMatched {
    align-self: center;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    color: #ecf0f1;
    background-color: rgba(23, 63, 79, 0.0);
}
#pass-noValue {
    padding-top: 7%;
    text-align: center;
    font-family: "raleway";
    width: 100%;
    height: 100%;
    background-color: rgba(23, 63, 79, 0.0)
}
#noValue {
    align-self: center;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    color: #ecf0f1;
}
#password-matched {
    margin: 0;
    color: #40D47E;
    background-color: rgba(23, 63, 79, 0.0);
    text-align: center;
    font-family: "raleway-bold, raleway";
    font-size: 300%;
}
#password-notmatched {
    margin: 0;
    color: #ecf0f1;
    text-align: center;
    font-family: "raleway-bold, raleway";
    font-size: 300%;
    width: 100%;
    height: 100%;
    padding-top: 5%;
}
#password-notmatched img {
    width: 20%;
    height: auto;
}

#password-notmatched p {
    font-size: 75%;
    color: #ecf0f1;
}

/*#arrow-index {
    bottom: 3%;
}*/

#arrow-index img{
    display: auto;
    /*padding-top: 3%;*/
    width: 2%;
    height: auto;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 3%;
}
#arrow-about img {
    display: auto;
    /*padding-top: 3%;*/
    width: 2%;
    height: auto;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 110%;
}
#lock img{
    display: block;
    width: 8%;
    height: auto;
}

/**************** ABOUT ****************/
#about {
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: rgba(23, 63, 79, 0.9);
    color: #FFF;
    padding-top: 0.1%;
}
iframe {
    padding-top: 0%;
 }

/**************** BLOG ****************/

#blog-container {
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: #ecf0f1;
    color: #292F34;
    padding-top: 0.1%;
}
#blog-container .p {
    color: #292F34;
}

/* blog */
#blog {
    width: 100%;
    height: auto;
}

/**************** Contact ****************/
#contactForm {
    background-image: url(/images/bg-contact.jpg);
    background-position: center;
    background-attachment: fixed;
}

#contact {
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: rgba(23, 63, 79, 0.7);
    color: #292F34;
}
#contact .p {
    color: #292F34;
}

/* Contact Form */
#wrap {
padding-top: 12%;
  width: 50%;
  margin: 0 auto;
}
.box1 {
  padding-top: 0.1%;
  padding-right: 0.1%;
  padding-bottom: 0.1%;
  padding-left: 0.1%;
  background-color: #F9F9F9;
  border-radius: 5px;
  box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
}
.form {
  margin: auto;
}
.submit input {
  width: 100px;
  padding: 9px 15px;
  font-size: 14px;
  color: #FFFFFF;
  background-color: #11A7F2;
  border: 0;
  border-radius: 2px;
}
.submit input:hover {
  cursor: pointer;
  background-color: #1281B8;
}

/**************** FOOTER ****************/

#footer {
    padding-top: 1%;
    text-align: left;
    width: 100%;
    height: 10%;
    background-color: rgba(23, 63, 79, 0.95)
}
#column-footer {
    word-wrap: break-word;
    float: left;
    width: 50%;
    height: 100%;
}

/* Info links*/
#info {
    padding-top: 3%;
    padding-left: 3%
}

/* Social Media */
#share-buttons {
    text-align: right;
    margin-right: 2%;
    padding-top: 1%;
}
#share-buttons img {
width: 5%;
padding: 1%;
border: 0;
box-shadow: 0;
display: inline;
}

/**************** LOADING ****************/

#loading {
    padding-top: -10%;
}

#loading img {
    width: 25%;
    height: auto;
}

#loading p {
    font-size: 125%;
    padding-top: 0%;
}

/**************** Go Top ****************/
.scrollToTop {
    width:10%;
    height:auto;
    /*padding:10px;*/
    text-align:center;
    background: rgba(0,0,0,0);
    font-weight: bold;
    color: #444;
    text-decoration: none;
    position:fixed;
    top:83%;
    right:0;
    display:none;
}

.scrollToTop img {
    margin-left: auto;
    margin-right: 11.5%;
}
.scrollToTop:hover{
    text-decoration:none;
}

/**************** Github button ****************/
#github {
  padding-top: 5%;
}
